{{ form_start(form, {'attr': {'id': 'myForm'}}) }}
<div id="testEcrit"></div>
    {{ form_widget(form) }}
    <button id="btn" type="submit" >{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    <script src="/test.js"></script>
{% endblock %}
