{{ form_start(form) }}
    {{ form_widget(form) }}
    <button id="btn" type="button" >{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

{% block javascripts %}
    <script src="/test.js"></script>
{% endblock %}
